html, body {
    background-color: #fff;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1, .main-link {
    color: #000;
    font-size: 4.5em;
    text-decoration: none;
}

#gradient {
    display: table;
    width: 100%;
    overflow: hidden;
    min-height: 100%;
    padding: 0px;
    margin: 0px;
}

#header {
    overflow: hidden;
    min-height: 100%;
    margin: 0px;

    font-family: 'Work Sans', sans-serif;    
    font-weight: 400;
    padding: 24px 5% 0px 5%;
    border: 0;
}

#content {
    overflow: hidden;
    min-height: 100%;
    margin: 0px;

    font-family: 'Work Sans', sans-serif;    
    font-weight: 300;
    padding: 0px 5%;
    border: 0;
}

a {
    color: #1A0FAB;
}

p {
    color: #000;
    font-size: 1.6em;
    line-height: 1.5;
}