body {
    background-color: #fff;
    height: 100%;
    margin: 0;
    padding: 24px 5% 0px 5%;
    font-family: 'Work Sans', sans-serif;
}

header {
    font-weight: 400;
    padding: 8px 0 16px 0;
}

span {
    font-family: 'Nanum Brush Script', cursive;
    font-size: 2.2em;
}

section {
    font-weight: 300;
    padding: 0;
}

footer {
    padding: 16px 0;
}

a {
    color: #1F32E3;
}

p {
    color: #1F32E3;
    font-size: 1.6em;
}